:root {
    --bg-light: linear-gradient(135deg, #f8e9e9, #e7f1ff);
    --bg-dark: linear-gradient(135deg, #1f1c2c, #928dab);

    --text-light: #000;
    --text-dark: #fff;

    --card-light: rgba(255, 255, 255, 0.45);
    --card-dark: rgba(0, 0, 0, 0.45);
}

[data-theme="light"] {
    --bg: var(--bg-light);
    --text: var(--text-light);
    --card: var(--card-light);
}

[data-theme="dark"] {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --card: var(--card-dark);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: .4s;
}

.app {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
}

.search-area {
    margin: 10px 0;
}

input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    margin-left: 6px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--card);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Current Weather */
#current {
    text-align: center;
    background: var(--card);
    padding: 20px;
    border-radius: 16px;
    backdrop-filter: blur(12px);
}

.temp-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

#icon {
    width: 75px;
}

#temperature {
    font-size: 50px;
    font-weight: 700;
}

.mini-stats {
    margin-top: 10px;
    font-size: 14px;
}

/* Cards */
.hourly-cards,
.forecast-cards {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.card {
    min-width: 110px;
    background: var(--card);
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(12px);
}

/* Weather Condition Backgrounds */
.sunny {
    background: linear-gradient(#87CEEB, #FFE87C);
}

.rainy {
    background: linear-gradient(#4b79a1, #283e51);
}

.cloudy {
    background: linear-gradient(#d7d2cc, #304352);
}

.snowy 
{
    background: linear-gradient(#e6e9f0, #eef1f5);
}

.clear 
{
    background: linear-gradient(#00c6ff, #0072ff);
}

#suggestions 
{
    background: var(--card);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    position: absolute;
    width: 200px;
    max-height: 170px;
    overflow-y: auto;
    display: none;
    margin-top: 2px;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.suggestion-item:hover {
    background: rgba(255, 255, 255, 0.25);
}
